dssp-ws/src/wsdl/dssp-ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Digital Signature Service Protocol Project.
	Copyright (C) 2013-2014 e-Contract.be BVBA.

	This is free software; you can redistribute it and/or modify it
	under the terms of the GNU Lesser General Public License version
	3.0 as published by the Free Software Foundation.

	This software is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
	Lesser General Public License for more details.

	You should have received a copy of the GNU Lesser General Public
	License along with this software; if not, see
	http://www.gnu.org/licenses/.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="urn:be:e_contract:dssp:ws" xmlns:tns="urn:be:e_contract:dssp:ws"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema"
	xmlns:async="urn:oasis:names:tc:dss:1.0:profiles:asynchronousprocessing:1.0">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:oasis:names:tc:dss:1.0:core:schema"
				schemaLocation="oasis-dss-core-schema-v1.0-os.xsd" />
			<!-- import so JAX-WS can directly parse these -->
			<import
				namespace="urn:oasis:names:tc:dss-x:1.0:profiles:verificationreport:schema#"
				schemaLocation="oasis-dssx-1.0-profiles-vr-cd1.xsd" />
			<import namespace="urn:be:e-contract:dssp:1.0" schemaLocation="dssp-schema-1.0.xsd" />
			<import
				namespace="http://docs.oasis-open.org/ws-sx/ws-secureconversation/200512"
				schemaLocation="ws-secureconversation-1.3.xsd" />
			<import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
				schemaLocation="ws-trust-1.3.xsd" />
			<import
				namespace="urn:oasis:names:tc:dss:1.0:profiles:asynchronousprocessing:1.0"
				schemaLocation="oasis-dss-profiles-asynchronous-processing-schema-v1.0-os.xsd" />
			<import
				namespace="urn:oasis:names:tc:dssx:1.0:profiles:VisibleSignatures:schema#"
				schemaLocation="oasis-dss-vissig-schema-v1.0-cd1.xsd" />
			<import namespace="urn:oasis:names:tc:xacml:2.0:policy:schema:os"
				schemaLocation="access_control-xacml-2.0-policy-schema-os.xsd" />
		</schema>
	</types>

	<message name="SignRequest">
		<part name="SignRequest" element="dss:SignRequest" />
	</message>

	<message name="SignResponse">
		<part name="SignResponse" element="dss:SignResponse" />
	</message>

	<message name="VerifyRequest">
		<part name="VerifyRequest" element="dss:VerifyRequest" />
	</message>

	<message name="VerifyResponse">
		<part name="VerifyResponse" element="dss:VerifyResponse" />
	</message>

	<message name="PendingRequest">
		<part name="PendingRequest" element="async:PendingRequest" />
	</message>

	<portType name="DigitalSignatureServicePortType">
		<operation name="verify">
			<input message="tns:VerifyRequest" />
			<output message="tns:VerifyResponse" />
		</operation>
		<operation name="sign">
			<input message="tns:SignRequest" />
			<output message="tns:SignResponse" />
		</operation>
		<operation name="pendingRequest">
			<input message="tns:PendingRequest" />
			<output message="tns:SignResponse" />
		</operation>
	</portType>

	<binding name="DigitalSignatureServiceBinding" type="tns:DigitalSignatureServicePortType">
		<wsoap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"
			style="document" />
		<operation name="verify">
			<soap:operation />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="sign">
			<soap:operation />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="pendingRequest">
			<soap:operation />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="DigitalSignatureService">
		<port name="DigitalSignatureServicePort" binding="tns:DigitalSignatureServiceBinding">
			<soap:address location="http://localhost:8080/dss/dss" />
		</port>
	</service>
</definitions>